@import 'tailwindcss';

@theme {
	--color-primary: #135bec;
	--color-background-light: #f6f6f8;
	--color-background-dark: #101622;

	--font-display: 'Space Grotesk', sans-serif;

	--radius: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
}

@variant dark (&:where(.dark, .dark *));
